@import url("variables.css");
/*======================= Auth Modals  =======================*/
.auth-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: calc(var(--z--max) + 1);
}
body.modal-open {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.auth-container.active {
    display: block;
    opacity: 1;
}
.auth-modal {
    width: 400px;
    height: 520px;
    border-radius: var(--radius-lg);
    border: 2px solid rgba(255,255,255,0.13);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    box-shadow: 0 0 40px rgba(222, 220, 235, 0.6);
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}.auth-modal.active {
    opacity: 1;
    visibility: visible;
}
.auth-header {
    color: var(--text-inverse);
    font-weight: 800;
}
.auth-modal form * {
    color: var(--text-inverse);
}
.auth-modal form {
    width: 100%;
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.auth-modal form .form-group, .form-options {
    /* position: relative; */
    width: 75%;
    display: flex;
}
.auth-modal form .form-group {
    flex-direction: column;
}
.auth-modal form .form-options {
    justify-content: space-evenly;
    align-items: center;
}
.auth-modal form input {
    height: 40px;
    padding: 0 var(--padding-md);
    border-radius: var(--radius-lg);
    background-color: rgba(255,255,255,0.07);
}
.auth-modal form button {
    width: 75%;
    height: 40px;
    /* padding: var(--spacing-unit); */
    border-radius: var(--radius-lg);
    border: none;
    outline: none;
    color: var(--primary-dark);
    font-weight: 600;
}
.social-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.social-buttons .btn-social {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    /* color: #eaf0fb; */
    background-color: rgba(255,255,255,0.27);
}
.social-buttons .btn-social:hover {
    background-color: rgba(255,255,255,0.47);
}
::placeholder{
    color: #e5e5e5;
}
.close {
    position: absolute;
    top: 8%;
    right: 10%;
    background-color: transparent;
    border: none;
}    
/* Active */
#auth-sign-up.active {
    opacity: 1;
    visibility: visible;
}
#auth-login.active {
    opacity: 1;
    visibility: visible;
}