* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    scroll-behavior: smooth;
    font-family: "Cairo", sans-serif;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  /* color: #1e1e1e; */
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
:root {
    /* Fonts */
    --nunito: "Nunito Sans", sans-serif;
    --cairo: "Cairo", sans-serif;
    --josefin: "Josefin Sans", sans-serif;
    /* Colors */
    --primary-light: #415f9d;
    --primary-BG: #d6e4f0;
    --secondary-BG: #f6f6f6;
    --text-light: #1e549f;
    --text-inverse: #ffffff;

    --primary-dark: #163172;
    --secondary-dark: #1e56a0;
    
    --hover-1: #ee626b;
    
    /* Box Shadow */
    --shadow-card-93: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    --shadow-card-94: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;

    --spacing-unit: 10px;
    --margin-sm: calc(0.5 * var(--spacing-unit));
    --maring-md: calc(2 * var(--spacing-unit));
    --maring-lg: calc(4 * var(--spacing-unit));
    --padding-sm: calc(0.5 * var(--spacing-unit));
    --padding-md: calc(2 * var(--spacing-unit));
    --padding-lg: calc(4 * var(--spacing-unit));
    /* transition */
    --transition-xslow: 0.5s;
    --transition-slow: 0.3s;
    --transition-medium: 0.2s;
    
    --z--max: 1000;
    --header-height: 5rem;
}