.online-games-section,
.features-section {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--maring-lg);    
    padding-top: var(--padding-lg);
    /* background-color: var(--primary-BG); */
}
.content-container {
    width: var(--content-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}
.section-title {
    font-size: var(--header-font-size);
    font-weight: 800;
    color: var(--text-light);
    text-align: center;
    margin-bottom: var(--maring-lg);
}
.features-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( min(15rem, 100%) ,1fr));
    gap: 1rem;
    margin-bottom: var(--header-height);
}
.IW-item {
    --primary-300: #93b1d0;
    --primary-400: #7c9fc5;
    display: grid;
    grid-template: 'icon title' 'brief brief' / auto 1fr;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-400);
    padding: calc(var(--padding-md) * 1.5);
    border-radius: 1rem;
    box-shadow: var(--shadow-btn-30);
}
.IW-item * {
    color: var(--text-inverse);
}
.IW-icon-container {
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary-300);
}
.iw-title {
    grid-area: title;
    margin: 0;
    text-align: right;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: var(--nunito);
}
.iw-brief {
    grid-area: brief;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: var(--josefin);
}
